#home-banner{
    height:600px;
    width:100%;
}

#home-banner img{
    height:inherit;
    width:inherit;
    position:relative;
}

#home-banner h1{
    position:absolute;
    top:250px;
    left:600px;
    color:darkslategray;
    font-family:Roboto;
    font-size:50px;
}
#home-banner h1 span{
    color:indianred;
}

#home-banner p {
        position: absolute;
        top: 300px;
        left: 650px;
        color: darkslategray;
        font-family: Roboto;
        font-size: 30px;
}

#home-banner a {
        position:absolute;
        top:570px;
        left:45%;
        text-decoration: none;
        color: white;
        background-color:indianred;
        font-family: Roboto;
        font-size: 15px;
        border-radius:10px;
        padding:10px;
    }
#home-banner a:hover{
    box-shadow:2px 2px 60px black ;
}

/*STYLING SECTION*/
section{
    width:100%;
    margin: 50px 0px 150px;
}

section h2{
    text-align:center;
    font-family:Roboto;
}

#container{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 300px 300px;
    grid-column-gap: 50px;
    grid-row-gap: 75px;
    margin: 50px 10% 0px;
}
.sub-container{
    border-radius:20px;
    padding:5%;
}

.sub-container:hover{
    background-color:indianred;
    color:white;
}

.sub-container img{
    height:100px;
    width:100px;
    display:block;
    margin:5% auto 5%;
}
.sub-container p {
    text-align: justify;
}

/*A PROPOS*/



/*--  stats --*/
.stats {
    background: url('Images/1172354.jpg') no-repeat center;
    background-size: cover;
    position: relative;
}

    .stats:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.6;
        background: #000;
    }

    .stats h4 {
        font-size: 50px;
        color: #fff;
        font-weight: 600;
        letter-spacing: 1px;
    }

    .stats p {
        color: #aaa;
    }

    .stats span.fa {
        font-size: 30px;
        color: #eee;
    }
/*--  //stats --*/

/*-- blog --*/
.blog h4 {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 30px;
    text-transform: uppercase;
}

.blog ul li {
    display: inline-block;
    color: #777;
    font-size: 16px;
    letter-spacing: 1px;
}

.blog a.btn {
    font-size: 15px;
    letter-spacing: 2px;
    color: #fff;
    padding: 12px 25px;
    background: #333;
    margin-top: 20px;
    border-radius: 4px;
}
/*-- //blog --*/

/*--  text --*/
.text {
    background: url(Images/pexels-photo-3769706.jpeg) no-repeat center;
    background-size: cover;
    position: relative;
}

    .text:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.6;
        background: #000;
    }

    .text h2.heading {
        color: #fff;
    }

    .text p {
        color: #ccc;
        width: 80%;
        margin: auto;
    }

    .text a.btn {
        font-size: 17px;
        letter-spacing: 2px;
        color: #fff;
        padding: 12px 25px;
        border: 2px solid #fff;
        margin-top: 30px;
        border-radius: 4px;
        display: inline-block;
    }
/*--  //text --*/

